<div class="container">
  <div class="settings">
    <button class="button" (click)="this.modal.style.display = 'block'">Kullanım Kılavuzu</button>
    <button class="button" (click)="showLetters=!showLetters">
      <span *ngIf="showLetters">
        Sayıları Göster
      </span>
      <span *ngIf="!showLetters">
        Harfleri Göster
      </span>
    </button>
  </div>
  <div class="content">
    <div class="note" *ngFor="let setting of kalimbaSettings" appClick id="{{setting.key}}"
      (click)="playNote(setting.note)" [ngStyle]="{'height':setting.height+ '%'}">
      <span *ngIf="showLetters">
        {{setting.letter}}
      </span>
      <span *ngIf="!showLetters">
        {{setting.no}}
      </span>
    </div>
  </div>
</div>

<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" (click)="modal.style.display='none'">&times;</span>
      <h2>Kullanım Rehberi</h2>
    </div>
    <div class="modal-body">
      <p>Kalimbayı çalmak için aşağıdaki tuşları kullanabilir veya maus ile kendiniz tıklayabilirsiniz.</p>
      <p>Çalmak için tuşlar sırası ile => 1 2 3 4 5 6 7 8 9 q w e r t y u ı </p>
    </div>
  </div>
</div>