<div class="container">
  <div class="content">
    <div class="notes">
      <div class="note" *ngFor="let setting of kalimbaSettings" id="{{setting.key}}"
        (click)="playNote(setting.note,setting.key)" [ngStyle]="{'height':setting.height+ '%'}">
        <span *ngIf="showLetters">
          {{setting.letter}}
        </span>
        <span *ngIf="!showLetters">
          {{setting.no}}
        </span>
      </div>
    </div>
    <div class="settings">
      <button class="button" *ngIf="!isPhoneUser" (click)="this.modal.style.display = 'flex'">Kullanım Rehberi</button>
      <button class="button" (click)="showLetters=!showLetters">
        <span *ngIf="showLetters">
          {{chosenText.showNumbers}}
        </span>
        <span *ngIf="!showLetters">
          {{chosenText.showLetters}}
        </span>
      </button>
    </div>
  </div>
</div>

<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" (click)="modal.style.display='none'">&times;</span>
      <h3>{{chosenText.header}}</h3>
    </div>
    <div class="modal-body">
      <p>{{chosenText.description}}</p>
      <p>{{chosenText.keys}}</p>
    </div>
  </div>
</div>